/GeneticAlgorithmAdjuster.class
/OhAdjuster.class
/SmoothingAdjuster$DataPoint.class
/SmoothingAdjuster.class
/WeightAdjuster.class
/GeneticAlgorithmAdjuster2.class
/PartialGamePlayer.class
/WeightedHeuristicPlayer.class
