/OhPlayer.class
/JonathanPlayer.class
/GeneticAlgorithmAdjuster.class
/BlahPlayer.class
/Feature.class
/OhTestPlayer.class
/PlayerSkeleton.class
/TemplateSkeleton.class
/WeightedHeuristicPlayer.class
